/* 
VARIABLES
*/
:root {
	--clr-bg-navy-intro_email: hsl(217, 28%, 15%);
	--clr-bg-navy-main: hsl(218, 28%, 13%);
	--clr-bg-navy-footer: hsl(216, 53%, 9%);
	--clr-bg-navy-testimonial: hsl(219, 30%, 18%);
	--clr-bg-tealg-btn: hsl(176, 68%, 64%);
	--clr-bg-tealh-btn: hsl(176, 63%, 72%);
	--clr-bg-cyang-btn: hsl(198, 60%, 50%);
	--clr-txt-red-error: hsl(0, 100%, 63%);
	--clr-txt-white: hsl(0, 0%, 100%);
	--clr-txt-white-2: hsl(0, 4%, 89%);
	--fnt-wght-normal: 400;
	--fnt-wght-bold: 700;
	--fnt-fam-head_cta_nav: "Raleway";
	--fnt-fam-body: "Roboto";
}

/* 
FONT IMPORT
*/

/* Open Sans */

@font-face {
	font-family: "Roboto";
	src: url(./fylo_dark_theme_landing_page/fonts/Roboto_variable/Roboto-VariableFont.ttf)
		format("truetype-variations");
	font-display: swap;
	font-style: normal;
	font-weight: 1 999;
}

/* Raleway */

@font-face {
	font-family: "Raleway";
	src: url(./fylo_dark_theme_landing_page/fonts/Raleway_variable/Raleway-VariableFont_wght.ttf)
		format("truetype-variations");
	font-display: swap;
	font-style: normal;
	font-weight: 1 999;
}

/* 
CSS RESET
 */

/*
  1. Use a more-intuitive box-sizing model.
  2. Remove default margin
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
  8. Remove underline from anchor links
*/

a,
a:visited,
a:active {
	text-decoration: none;
}

/* 
GENERAL
*/

body {
	font-size: 0.88rem;
	font-family: var(--fnt-fam-body);
	background-color: var(--clr-bg-navy-main);
	color: var(--clr-txt-white-2);
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1.4em;
}

.flex {
	display: flex;
	flex-direction: column;
}

.grid {
	display: grid;
}

/* 
MOBILE
*/

/* layout */

/* ------ layout nav ------ */

.header {
	padding-top: 1.7em;
	width: 100%;
	margin-bottom: 3.5em;
}

.header--flex {
	flex-direction: row;
	justify-content: space-between;
}

.header__nav__list__item {
	list-style-type: none;
	display: inline-block;
	margin-left: 1em;
}

/* ------ layout main ------ */

.main {
	position: relative;
}

.main__intro {
	padding: 0 1em;
	margin-bottom: 9em;
}

.main__intro__illustration,
.main__sellingPoint__illustration {
	order: -1;
	margin-bottom: 2em;
}

.main__intro__title {
	margin-bottom: 0.8em;
}

.main__intro__copy {
	margin-bottom: 2.1em;
}

.main__features {
	margin-bottom: 10em;
}

.main__features__item {
	margin-bottom: 5em;
	padding: 0 1.3em;
}

.main__features__item__title {
	margin-bottom: 0.3em;
}

.main__sellingPoint {
	margin-bottom: 8em;
}

.main__sellingPoint__illustration {
	margin-bottom: 3em;
}

.main__sellingPoint__copy__title {
	margin-bottom: 0.6em;
}

.main__sellingPoint__copy__description {
	margin-bottom: 1em;
}

.main__testimonials {
	padding: 0 1.5em;
	margin: 6em 0;
}

.main__testimonials__box {
	background-color: var(--clr-bg-navy-testimonial);
	margin-bottom: 2em;
	padding: 1.9em 1.6em;
	border-radius: 4px;
}

.main__testimonials__box__profile--flex {
	flex-direction: row;
	align-items: center;
}

.main__testimonials__box__comment {
	margin-bottom: 1.4em;
}

.main__testimonials__box__profile__info {
	margin-top: 0.4em;
}

.main__testimonials__box__profile__name {
	margin-bottom: 0.3em;
}

.main__signUp {
	background-color: var(--clr-bg-navy-intro_email);
	padding: 2.5em 2em;
	border-radius: 10px;
	box-shadow: 8px 8px rgba(0, 0, 0, 0.176);
	position: relative;
	top: 13em;
}

.main__signUp__title {
	margin-bottom: 1em;
}

.main__signUp__description {
	margin-bottom: 2em;
}

.footer {
	background-color: var(--clr-bg-navy-footer);
	padding: 17em 0 2em 0;
}

.footer__contact {
	margin-bottom: 3em;
}

.footer__location--flex,
.footer__contact__mail--flex,
.footer__contact__phone--flex {
	flex-direction: row;
	margin-bottom: 1.3em;
}

.footer__contact__mail--flex,
.footer__contact__phone--flex {
	align-items: center;
}

.footer__location__address {
	margin-top: -0.4em;
	margin-left: 1em;
	line-height: 1.3;
}

.footer__contact__phone__number,
.footer__contact__mail__address {
	margin-left: 1em;
	line-height: 1.3;
}

.footer__webLinks {
	margin-bottom: 3em;
}

.footer__webLinks li {
	margin-bottom: 0.6em;
}

.footer__socials--flex {
	flex-direction: row;
	justify-content: center;
}

/* -------------------------------------------------- */
/* typo */

.header__nav__list__item a,
h1,
h2,
button,
input[type="submit"] {
	font-family: var(--fnt-fam-head_cta_nav);
	color: var(--clr-txt-white);
}

.header__nav__list__item a:hover,
.footer__webLinks a:hover {
	color: var(--clr-txt-white);
	font-weight: var(--fnt-wght-bold);
}

/* ------ typo nav ------ */

.header__nav__list__item a {
	color: var(--clr-txt-white-2);
	font-weight: var(--fnt-wght-normal);
}

.header__nav__list__item a:hover {
	text-decoration: underline;
}

/* ------ typo main ------ */

.main__intro,
.main__features {
	text-align: center;
}

.main__intro__title {
	font-size: 1.7rem;
	line-height: 1.5;
	font-weight: var(--fnt-wght-bold);
}

.main__features__item__title,
.main__sellingPoint__copy__title {
	font-size: 1.18rem;
}

.main__sellingPoint__copy__link {
	color: var(--clr-bg-tealg-btn);
	border-bottom: 1px solid var(--clr-bg-tealg-btn);
	display: inline-block;
	position: relative;
}

.main__testimonials__box__profile__info {
	font-size: 0.7rem;
}

.main__testimonials__box__profile__name {
	font-weight: var(--fnt-wght-bold);
	line-height: 1;
}

.main__testimonials__box__profile__job {
	font-size: 0.5rem;
	letter-spacing: 1px;
}

.main__signUp {
	text-align: center;
}

.main__signUp__title {
	font-size: 1.2rem;
}

.footer__location__address,
.footer__contact__phone__number,
.footer__contact__mail__address {
	line-height: 1.3;
}

.footer__webLinks li {
	list-style-type: none;
}

.footer__webLinks a {
	color: var(--clr-txt-white-2);
}

/* -------------------------------------------------- */
/* assets */

.header__logo {
	width: 100px;
}

.btn,
input[type="submit"] {
	background-image: linear-gradient(
		157deg,
		var(--clr-bg-tealg-btn) 13%,
		var(--clr-bg-cyang-btn) 40%
	);
	border: none;
	border-radius: 30px;
	font-weight: 700;
	color: var(--clr-txt-white);
	cursor: pointer;
}

.btn:hover,
input[type="submit"]:hover {
	background-image: linear-gradient(var(--clr-bg-tealh-btn));
}

.btn {
	width: 220px;
	padding: 0.7em;
	align-self: center;
}

.main__features__item__img {
	width: 60px;
	align-self: center;
	margin-bottom: 2em;
}

.main__sellingPoint__copy__link__arrow {
	display: inline-block;
	position: relative;
	top: 4px;
}

.main__testimonials__box__profile__img {
	width: 33px;
	margin-right: 0.6em;
}

.main__testimonials__box__profile__img img {
	border-radius: 50px;
}

input {
	width: 100%;
	border-radius: 30px;
	padding: 0.7em 1.3em;
}

input[type="text"] {
	margin-bottom: 1.4em;
	border: none;
	outline: none;
}

.footer__logo {
	margin-bottom: 3em;
}

.footer__location__img {
	width: 40px;
}

.fa__icons {
	border: 1px solid var(--clr-txt-white);
	padding: 0.1em 0.4em;
	margin-right: 0.9em;
	border-radius: 50%;
}

.fa__icons:hover {
	border: 1px solid var(--clr-bg-tealg-btn);
	color: var(--clr-bg-tealg-btn);
	cursor: pointer;
}

/* 
TABLET (690px - 800px
*/

/* layout */

/* ------ layout nav ------ */

@media (min-width: 800px) {
	/* layout */

	/* ------ layout main ------ */

	.header__nav__list__item {
		margin-left: 2em;
	}

	.main__intro {
		padding: 0 10em;
	}

	.main__intro--flex {
		align-items: center;
	}
}

/* 
DESKTOP
*/

@media (min-width: 62.5em) {
	/* layout */

	/* ------ layout main ------ */

	.main__intro {
		padding: 0;
		margin-bottom: 4em;
	}

	.main__intro__title {
		width: 50%;
	}

	.main__intro__copy {
		width: 45%;
	}

	.main__features {
		padding: 0 6em;
		margin-bottom: 5em;
	}

	.main__features--grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 5em;
	}

	.main__features__item {
		margin: 0;
	}

	.main__features__item:nth-of-type(1) {
		margin-top: 1.5em;
	}

	.main__sellingPoint {
		padding: 0 3em;
	}

	.main__testimonials--flex,
	.main__sellingPoint--flex {
		flex-direction: row;
		justify-content: space-between;
	}

	.main__sellingPoint--flex {
		align-items: center;
	}

	.main__sellingPoint__copy {
		width: 45%;
	}

	.main__sellingPoint__copy__title {
		font-size: 1.8rem;
	}

	.main__testimonials {
		margin-bottom: -6em;
	}

	.main__testimonials__box {
		max-width: 350px;
		margin-left: 1em;
	}

	.main__signUp {
		margin: 0 15em;
		padding: 2.5em 3.5em;
	}

	.footer--grid {
		grid-template-columns: repeat(5, 1fr);
		column-gap: 3em;
	}

	.footer__webLinks {
		margin-bottom: 0;
	}

	.footer__socials {
		padding-bottom: 8em;
	}

	/* -------------------------------------------------- */
	/* typo */

	.main__sellingPoint__copy__title {
		font-size: 1.8rem;
		width: 70%;
	}

	/* -------------------------------------------------- */
	/* assets */

	.main__intro__illustration {
		width: 65%;
	}

	.main__sellingPoint__illustration {
		width: 48%;
	}

	input[type="text"] {
		margin-bottom: 0;
		width: 60%;
		margin-right: 1em;
	}

	input[type="submit"] {
		width: 26%;
	}

	.footer__logo {
		grid-column: 1/6;
	}
}
